@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

:root {
  --font: 'Josefin Sans', sans-serif;
  --background-color: rgb(238, 238, 228);
  --red-color: rgb(255, 93, 44);
}

body {
  height: 90vh;
  font-family: var(--font);
  background-color: var(--background-color);
}

.header h1 {
  text-align: center;
}

.instruction {
  text-align: center;
}

.main {
  /* margin: 0; */
  height: 90%;
}

.section__form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 90%;
}

.container__form {
  display: flex;
  flex-direction: column;
}

.thanks {
  text-align: center;
}
